<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="bookRepository" class="com.santosh.repository.BookRepository"/>

    <bean id="bookService" class="com.santosh.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

    <!-- Exercise 3  -->
    <aop:aspectj-autoproxy/>

    <bean id="loggingAspect" class="com.santosh.aspect.LoggingAspect"/>
</beans>
